@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main {
  display: flex;
  padding-top: 4rem;
}
.body {
  flex: 1;
  height: 97vh;
}
.social {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.social::before {
  content: '';
  position: absolute;
  top: 0;
  width: 130%;
  height: 15%;
  background: white;
  transform-origin: 0 0;
  transform: skewY(-29deg) translate(0, 50%);
  z-index: 1;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}


::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  @apply bg-gray-200 dark:bg-gray-400
}

::-webkit-scrollbar
{
  width: 10px;
  @apply bg-gray-200 dark:bg-gray-400;
}

::-webkit-scrollbar-thumb
{
  border: 2px solid #555555;
  @apply bg-gray-500 dark:bg-gray-900;
}

#checkbox ~ .dot {
  @apply bg-primarylight;
}

.top-full { top: 100%; }
.left-full { left: 100%; }

.group:hover .group-hover\:block {
  display: block;
}
.pt-16 {
  padding-top: 4rem;
}

#checkbox:checked ~ .dot {
  transform: translateX(100%);
  @apply bg-cashmere-400
}
.nav {
  @apply bg-primarylight dark:bg-gray-900 shadow-xl;
}
.nav-container{
  z-index: 20;
  @apply bg-primarylight dark:bg-gray-900 w-full mx-auto px-2 sm:px-6 lg:px-2;
}
.nav-link {
  @apply text-gray-800 dark:text-gray-300 hover:bg-gray-200 hover:text-gray-800 dark:hover:bg-gray-700 dark:hover:text-white px-3 py-2 rounded-md text-sm font-medium;
}
.nav-link-wrapper {
  @apply flex space-x-4;
}
.current {
  @apply bg-primarylight ring-2 border-white ring-offset-1 text-gray-800 dark:bg-gray-700 dark:text-white;
}
.desktop-menu {
  @apply flex-1 flex items-center justify-center sm:items-stretch sm:justify-start;
}
.desktop-menu-wrapper {
  @apply hidden sm:block sm:ml-6;
}
.menu-logo-wrapper {
  @apply flex-shrink-0 flex items-center;
}
.menu-logo {
  @apply h-8 w-auto;
}
.mobile-menu-button {
  @apply inline-flex items-center justify-center p-2 rounded-md text-gray-800 dark:text-gray-400 hover:text-gray-700 dark:hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white;
}
.mobile-menu-button-container {
  @apply absolute inset-y-0 left-0 flex items-center sm:hidden;
}
.mobile-nav {
  transform: translateY(-100%);
  height: 1px;
  overflow: hidden;
  z-index: -1;
  
  @apply transition-all duration-500 ease-in-out sm:hidden;
}
.mobile-nav.open { 
  transform: translateY(0);
  height: auto;
}
.mobile-nav-wrapper {
  position: relative;
  z-index: -1;
  @apply px-2 pt-2 pb-3 space-y-1;
}
.mobile-nav-link{
  @apply text-gray-800 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-800 dark:hover:text-white block px-3 py-2 rounded-md text-base font-medium;
}
.current-mobile {
  @apply bg-gray-300 text-gray-800 dark:bg-gray-900 dark:text-white;
}
.input {
  @apply appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-900 text-gray-900 dark:bg-gray-400 dark:border-gray-700 focus:outline-none focus:ring-blue-500 dark:focus:ring-blue-200 focus:border-blue-500 focus:z-10 sm:text-sm;
}
.input.first {
  @apply rounded-t-md;
}
.input.last {
  @apply rounded-b-md;
}
.kikyo {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1)
}

.sidebar {
  width: 4rem;
}

/*sm*/
@media (min-width: 640px) {
  .social {
    width: 100%;
  }
  .sidebar {
    width: 4rem;
  }
}

/*md*/
@media (min-width: 768px) {
  .sidebar {
    width: 16rem;
  }
}

/*lg*/
@media (min-width: 1024px) {
}

/*xl*/
@media (min-width: 1280px) {
  .xl\:pin-none { left: auto; }
  .social::before {
    width: 130%;
    height: 30%;
    background: white;
    transform-origin: 0 0;
    transform: skewY(-29deg) translate(0, 60%);
    z-index: 1;
  }
  .social {
    width: 65rem;
  }
}

/*2xl*/
@media (min-width: 1536px) {
  
}